.orderListStyle {
  max-height: 30vh;
  overflow: auto;
  width: 80vw;
  margin: 1.6vh auto 0 auto;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(100, 100, 100, 0.5);
}

.itemStyle {

}
